# Data Profiling

### Import modules

In [1]:
import pandas
import numpy
import random
import datetime

### Helper function to generate data

In [2]:
def generate_dynamic_random_code(code_length):
    
    characters_string = "abcdefghijklmnopqrstuvwxyz1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    
    listchar = list(characters_string)
    
    placeholder_string = "-" * code_length
    
    placeholders = list(placeholder_string)
    
    for index in range(len(placeholders)):
    
        random_index = random.randint(0,len(listchar) - 1)
    
        character = listchar[random_index]
    
        placeholders[index] = character
    
    code = "".join(placeholders)
    
    return code

In [3]:
def generate_float_frame(row_count, column_count, assign_col_names = False, nullperc = 0.20):
    
    data = pandas.DataFrame(numpy.random.random((row_count, column_count)))
    
    if assign_col_names == True:
        
        columns = []
        while len(columns) < column_count:
            
            columns.append(generate_dynamic_random_code(8))
            
        data.columns = columns
    
    if nullperc < 0 or nullperc >100:
        nullperc = 0.2
        print("percentage of nulls defaulted to 0.2")
    
    total_cells = data.shape[0] * data.shape[1]
    
    null_cells = int(total_cells * nullperc)
    
    for iteration in range(null_cells):
        
        r_index = random.randint(0,row_count - 1)
        c_index = random.randint(0, column_count - 1)
        data.iloc[r_index, c_index] = None
    
    return data

### Import/Create Data

In [4]:
data = generate_float_frame(row_count = 1230,
                           column_count = 12,
                           assign_col_names = True)

In [5]:
data.head(100)

,oz4sImNM,QklUdtpe,9B1jajmb,b3UnTXhT,9PbOe6cN,5J5STovq,iggOYB2i,IEKgVLGf,fnq53eii,r6OTifRf,WLCNfCHn,EZotBcml
0,0.361646,0.131098,0.744973,0.120421,0.970402,NaN,0.027533,0.904894,0.926974,0.519154,0.348677,0.008613
1,0.239089,0.213063,NaN,0.028472,0.991029,0.072130,0.946788,0.607698,0.092025,0.974765,0.305458,NaN
2,0.231864,0.659968,0.015289,0.203412,0.746992,0.516286,NaN,0.407845,0.146956,0.902209,0.772252,0.763871
3,0.849810,0.641033,0.844916,NaN,0.898727,0.479799,0.509571,NaN,0.594402,0.183582,0.311205,0.432532
4,0.267479,NaN,0.878679,0.668174,0.431083,0.924897,NaN,NaN,0.399594,0.360563,0.193765,0.658069
5,0.462159,0.373497,0.954573,0.015037,NaN,0.669786,0.822526,NaN,0.102936,0.306944,0.467404,NaN
6,0.871761,0.719845,0.603804,0.977027,NaN,NaN,0.723907,NaN,0.728667,0.501857,0.059652,0.532189
7,NaN,0.463466,0.251771,NaN,0.489177,0.753860,0.986916,0.705699,0.160152,0.609009,0.803649,0.393253
8,NaN,0.212126,0.799849,0.170790,NaN,0.346856,0.656321,0.466712,0.619067,0.139851,0.157324,0.359978
9,0.162670,0.192916,0.319804,0.057818,0.273313,0.462813,0.843842,0.689299,0.905637,0.700267,0.391609,0.636306
10,0.652259,0.421554,0.459929,0.099827,0.304094,0.263683,0.056223,NaN,0.075666,0.106005,NaN,0.758178
11,0.904272,0.514437,0.475042,NaN,0.828033,0.744465,0.150336,0.183412,0.539040,0.978421,0.689384,0.419792
12,0.181231,0.136434,NaN,0.533628,0.404226,0.274138,NaN,0.599816,0.742466,NaN,0.341865,0.946229
13,NaN,0.153610,0.116338,0.497665,0.568436,0.069791,0.580852,NaN,0.745597,0.816187,0.598943,0.245622
14,NaN,0.764284,0.580743,0.170546,0.540081,0.926227,NaN,NaN,0.515316,0.328701,0.513341,0.509272
15,0.417760,0.066749,0.167738,0.487391,0.830487,0.762430,NaN,0.977612,0.027690,0.992152,0.553714,0.568423
16,NaN,0.276034,0.308219,0.134743,0.473499,0.523474,0.468254,0.031849,0.449873,0.341010,NaN,NaN
17,0.613721,0.241957,0.535196,0.904139,NaN,0.843011,0.128634,0.490311,0.224101,0.171784,0.016937,NaN
18,0.122347,0.667281,0.404685,0.918413,NaN,0.224485,0.239279,0.753652,0.918319,0.210138,0.222472,0.829943
19,0.762087,0.220343,0.228176,NaN,0.707620,0.890750,0.763691,NaN,0.499414,0.906876,0.896958,0.625383
20,0.258562,0.289420,0.820526,0.992345,0.514403,NaN,0.153519,0.417374,0.542635,0.845231,0.358907,0.795850
21,0.220361,0.848938,0.872341,0.167871,0.552897,0.719988,NaN,0.324183,0.217246,0.305350,0.612610,0.101914
22,0.994072,0.677190,0.596611,0.263887,NaN,0.054015,0.771652,0.823699,0.079855,0.724628,0.964770,0.571338
23,NaN,NaN,0.363842,0.507858,0.887494,0.734287,0.477013,0.988442,NaN,NaN,0.699360,0.521458
24,NaN,0.065619,0.887282,0.073764,0.199344,NaN,0.161905,0.989037,0.626049,NaN,NaN,0.399573
25,NaN,0.266307,NaN,0.791566,0.948047,0.470350,0.866993,0.247843,0.645534,0.904401,0.300615,0.978959
26,0.911735,NaN,0.078021,NaN,0.741200,0.018605,0.981488,0.023840,0.849200,0.019235,0.018192,0.280261
27,0.727142,0.744599,0.908035,0.486092,NaN,NaN,0.137805,0.610764,0.030848,0.972520,0.490518,0.220564
28,0.325587,0.534280,0.366520,0.078596,0.879523,0.024964,0.701265,0.478343,0.593362,0.308543,0.037486,0.798437
29,NaN,0.508248,0.247252,0.203249,0.084863,0.415157,NaN,0.370486,0.879331,NaN,0.603065,0.170458
...,...,...,...,...,...,...,...,...,...,...,...,...
70,0.647294,0.037098,0.841853,0.991949,0.903487,0.379932,0.005115,0.923637,0.725978,0.152736,0.802037,0.493604
71,0.441455,0.401869,0.799576,NaN,0.954790,NaN,0.341485,0.607879,NaN,0.681537,NaN,0.487076
72,NaN,0.193406,0.498732,0.188750,0.875380,0.184674,0.960259,0.350597,0.398359,0.506581,0.225148,0.768350
73,0.509669,0.266986,0.038171,0.828569,0.773423,NaN,0.550842,NaN,0.945907,0.948391,0.975707,0.504375
74,0.412044,NaN,0.541827,0.364708,0.448025,0.486345,0.162650,NaN,0.141658,0.925856,0.011722,0.272293
75,NaN,0.894675,0.368290,0.922303,NaN,0.075484,0.868312,NaN,0.514979,0.473571,0.608955,0.296685
76,0.203125,0.484857,0.685565,0.359903,0.669341,NaN,0.504143,0.951103,0.472408,0.814302,NaN,0.905250
77,NaN,0.165752,NaN,0.059022,0.008203,0.436941,0.625058,0.493445,0.422574,0.583413,NaN,0.377560
78,0.020473,0.665490,0.973111,NaN,0.577124,0.383896,0.529761,0.899977,0.798829,NaN,NaN,0.754465
79,0.387178,0.102832,0.438500,0.979783,0.108945,0.826185,0.968163,NaN,0.447148,0.857572,0.064234,0.018784
80,0.992822,0.036731,0.377450,0.687157,0.769341,0.549697,0.673947,0.475992,NaN,0.389821,0.324216,0.700099
81,0.858772,0.745050,0.068018,0.918078,0.291893,NaN,NaN,0.820824,NaN,0.509939,0.235982,0.937238
82,NaN,0.492256,0.059365,0.051901,0.022108,0.963389,0.075292,0.924891,0.216985,0.452107,NaN,NaN
83,0.293789,0.275223,NaN,0.998176,0.295564,0.692255,0.819216,0.703287,0.070058,NaN,0.403202,0.429806
84,0.693575,0.893413,0.976882,0.238860,0.328984,0.751772,NaN,0.914778,NaN,0.299289,NaN,0.861964
85,0.836972,0.008596,0.590734,0.561626,0.201848,0.287770,0.809762,NaN,0.547666,0.847110,0.620602,0.356093
86,0.210804,0.677395,0.134293,NaN,NaN,0.325552,0.578687,0.167091,0.216189,NaN,0.942120,0.978566
87,0.775159,0.362006,0.924047,0.154700,NaN,0.060971,0.895537,0.210643,0.086993,0.550994,0.040907,0.362068
88,NaN,NaN,0.905565,NaN,0.822935,NaN,0.173687,0.763836,NaN,0.161452,0.735179,0.041875
89,0.980259,0.433207,0.688332,0.323026,0.140879,NaN,0.709448,0.267795,NaN,0.952115,0.964884,0.726926
90,0.045193,0.830612,NaN,NaN,0.018719,0.879650,0.910820,0.371435,0.811444,0.713390,NaN,0.353583
91,NaN,NaN,0.366772,0.131759,0.217874,0.237826,0.572980,NaN,0.811147,0.675044,0.065307,0.650817
92,0.070519,0.838960,0.499056,0.834954,0.685363,NaN,NaN,0.638930,0.923646,0.051889,NaN,0.290463
93,0.130112,NaN,0.181057,NaN,0.216853,0.742511,NaN,0.831675,NaN,0.379579,NaN,0.734131
94,0.669281,0.878846,0.696215,0.769657,0.683872,0.956104,0.909168,0.293935,NaN,0.011055,0.031929,0.258299
95,0.727315,0.400028,NaN,0.176769,0.484513,0.410710,0.837102,0.821187,NaN,0.748773,0.965503,NaN
96,0.843561,NaN,0.084219,0.596747,0.338557,0.011307,0.087694,0.501315,NaN,0.958908,0.117064,0.700257
97,0.952804,0.934674,0.278970,0.926151,0.496845,0.685651,0.874796,0.995408,0.178327,0.607913,0.600003,0.835354
98,0.058529,0.877247,0.985028,0.038852,0.149314,0.259680,NaN,0.331856,NaN,0.915407,0.713752,0.757933
99,NaN,0.978276,0.363275,0.605449,NaN,NaN,0.431829,0.225614,0.647650,0.284331,0.826425,0.924667

## Extract Profile

### Get Statistical Summary

In [6]:
describe = data.describe(include = "all")
describe_transposed = describe.T
describe_final = describe_transposed.reset_index()

In [7]:
describe_final

,index,count,mean,std,min,25%,50%,75%,max
0,oz4sImNM,1010.0,0.505099,0.290326,0.000064,0.251582,0.489642,0.759540,0.999618
1,QklUdtpe,1007.0,0.507598,0.285220,0.000037,0.263774,0.508248,0.752368,0.999941
2,9B1jajmb,1009.0,0.502227,0.294303,0.000510,0.247018,0.511662,0.751042,0.999634
3,b3UnTXhT,1026.0,0.491163,0.294576,0.003785,0.238766,0.487164,0.746385,0.999515
4,9PbOe6cN,1003.0,0.504494,0.280803,0.000511,0.269173,0.496569,0.748831,0.999833
5,5J5STovq,1005.0,0.491256,0.283416,0.000457,0.265124,0.480558,0.738775,0.999028
6,iggOYB2i,1012.0,0.498287,0.289934,0.000407,0.253116,0.488216,0.743271,0.999550
7,IEKgVLGf,1020.0,0.521591,0.287551,0.000349,0.286908,0.521135,0.770565,0.999105
8,fnq53eii,990.0,0.495751,0.293313,0.003547,0.233799,0.482160,0.745319,0.998822
9,r6OTifRf,1009.0,0.494888,0.288787,0.000547,0.254095,0.493092,0.735458,0.997248
10,WLCNfCHn,1016.0,0.509322,0.287368,0.000813,0.276052,0.525164,0.762692,0.999619
11,EZotBcml,997.0,0.498937,0.292863,0.001772,0.240460,0.501634,0.760686,0.999396

### Get Data Types

In [8]:
dtypes = data.dtypes

In [9]:
dtypes_dataframe = pandas.DataFrame(dtypes, columns = ["data_type"])

In [10]:
dtypes_final = dtypes_dataframe.reset_index()

In [11]:
dtypes_final

       index data_type
0   oz4sImNM   float64
1   QklUdtpe   float64
2   9B1jajmb   float64
3   b3UnTXhT   float64
4   9PbOe6cN   float64
5   5J5STovq   float64
6   iggOYB2i   float64
7   IEKgVLGf   float64
8   fnq53eii   float64
9   r6OTifRf   float64
10  WLCNfCHn   float64
11  EZotBcml   float64

### Get Null composition

In [12]:
filled_count_series = data.notnull().sum().astype(int)
null_count_series = data.isnull().sum().astype(int)
totalcount = data.shape[0]

In [13]:
percent_null =  null_count_series / totalcount
percent_filled = filled_count_series / totalcount

In [14]:
percent_null = percent_null.apply('{0:.2%}'.format)
percent_filled = percent_filled.apply('{0:.2%}'.format)

In [15]:
percent_null = percent_null.reset_index().rename(columns = {0:"null_percent"})
percent_filled = percent_filled.reset_index().rename(columns = {0:"non_null_percent"})
filled_count_series = filled_count_series.reset_index().rename(columns = {0:"non_null_counts"})
null_count_series = null_count_series.reset_index().rename(columns = {0:"null_counts"})

In [16]:
from functools import reduce

In [17]:
null_info_dataframe = reduce(lambda left,right: pandas.merge(left,right,on='index'), [percent_null,
                                                                                 percent_filled,
                                                                                 filled_count_series,
                                                                                 null_count_series])

In [18]:
null_info_dataframe

       index null_percent non_null_percent  non_null_counts  null_counts
0   oz4sImNM       17.89%           82.11%             1010          220
1   QklUdtpe       18.13%           81.87%             1007          223
2   9B1jajmb       17.97%           82.03%             1009          221
3   b3UnTXhT       16.59%           83.41%             1026          204
4   9PbOe6cN       18.46%           81.54%             1003          227
5   5J5STovq       18.29%           81.71%             1005          225
6   iggOYB2i       17.72%           82.28%             1012          218
7   IEKgVLGf       17.07%           82.93%             1020          210
8   fnq53eii       19.51%           80.49%              990          240
9   r6OTifRf       17.97%           82.03%             1009          221
10  WLCNfCHn       17.40%           82.60%             1016          214
11  EZotBcml       18.94%           81.06%              997          233


### Merge all

In [19]:
merged = reduce(lambda left,right: pandas.merge(left,right,on='index', how = "left"), [null_info_dataframe,
                                                                        dtypes_final,
                                                                        describe_final])

### Cleanup

#### drop count column

In [20]:
merged["row_count"] = merged["non_null_counts"] + merged["null_counts"]

merged.drop(["count"], axis = 1, inplace = True)

#### change types

In [21]:
merged["data_type"] = merged["data_type"].astype(str)

#### round values

In [22]:
rounded_places = 4

for column in ["mean", "std", "min", "25%", "50%", "75%", "max"]:
    
    merged[column] = merged[column].round(rounded_places)

### Create dictionary and print

In [23]:
profile_dict = {}

In [24]:
merged_attributes = list(merged.columns)[1:]

for index in range(merged.shape[0]):
    
    column = merged.loc[index, "index"]
    column_padded = "  " + column + "  "
    print("\n\n", column_padded.center(44, "-"),"\n",sep = "")    
    profile_dict[column] = []    
    for attr in merged_attributes:
        attr_ = attr + ":"
        value = merged.loc[index, attr]
        value_string = str(value)
        
        print(attr_.ljust(22, " "), value_string.rjust(22, " "), sep = "")    
        
        if type(value) == numpy.int64:
            profile_dict[column].append({attr:int(value)})
        else:
            profile_dict[column].append({attr:value})

----------------  oz4sImNM  ----------------

null_percent:                         17.89%
non_null_percent:                     82.11%
non_null_counts:                        1010
null_counts:                             220
data_type:                           float64
mean:                                 0.5051
std:                                  0.2903
min:                                  0.0001
25%:                                  0.2516
50%:                                  0.4896
75%:                                  0.7595
max:                                  0.9996
row_count:                              1230


----------------  QklUdtpe  ----------------

null_percent:                         18.13%
non_null_percent:                     81.87%
non_null_counts:                        1007
null_counts:                             223
data_type:                           float64
mean:                                 0.5076
std:                                  0.2852
min:                                     0.0
25%:                                  0.2638
50%:                                  0.5082
75%:                                  0.7524
max:                                  0.9999
row_count:                              1230


----------------  9B1jajmb  ----------------

null_percent:                         17.97%
non_null_percent:                     82.03%
non_null_counts:                        1009
null_counts:                             221
data_type:                           float64
mean:                                 0.5022
std:                                  0.2943
min:                                  0.0005
25%:                                   0.247
50%:                                  0.5117
75%:                                   0.751
max:                                  0.9996
row_count:                              1230


----------------  b3UnTXhT  ----------------

null_percent:                         16.59%
non_null_percent:                     83.41%
non_null_counts:                        1026
null_counts:                             204
data_type:                           float64
mean:                                 0.4912
std:                                  0.2946
min:                                  0.0038
25%:                                  0.2388
50%:                                  0.4872
75%:                                  0.7464
max:                                  0.9995
row_count:                              1230


----------------  9PbOe6cN  ----------------

null_percent:                         18.46%
non_null_percent:                     81.54%
non_null_counts:                        1003
null_counts:                             227
data_type:                           float64
mean:                                 0.5045
std:                                  0.2808
min:                                  0.0005
25%:                                  0.2692
50%:                                  0.4966
75%:                                  0.7488
max:                                  0.9998
row_count:                              1230


----------------  5J5STovq  ----------------

null_percent:                         18.29%
non_null_percent:                     81.71%
non_null_counts:                        1005
null_counts:                             225
data_type:                           float64
mean:                                 0.4913
std:                                  0.2834
min:                                  0.0005
25%:                                  0.2651
50%:                                  0.4806
75%:                                  0.7388
max:                                   0.999
row_count:                              1230


----------------  iggOYB2i  ----------------

null_percent:                         17.72%
non_null_percent:                     82.28%
non_null_counts:                        1012
null_counts:                             218
data_type:                           float64
mean:                                 0.4983
std:                                  0.2899
min:                                  0.0004
25%:                                  0.2531
50%:                                  0.4882
75%:                                  0.7433
max:                                  0.9995
row_count:                              1230


----------------  IEKgVLGf  ----------------

null_percent:                         17.07%
non_null_percent:                     82.93%
non_null_counts:                        1020
null_counts:                             210
data_type:                           float64
mean:                                 0.5216
std:                                  0.2876
min:                                  0.0003
25%:                                  0.2869
50%:                                  0.5211
75%:                                  0.7706
max:                                  0.9991
row_count:                              1230


----------------  fnq53eii  ----------------

null_percent:                         19.51%
non_null_percent:                     80.49%
non_null_counts:                         990
null_counts:                             240
data_type:                           float64
mean:                                 0.4958
std:                                  0.2933
min:                                  0.0035
25%:                                  0.2338
50%:                                  0.4822
75%:                                  0.7453
max:                                  0.9988
row_count:                              1230


----------------  r6OTifRf  ----------------

null_percent:                         17.97%
non_null_percent:                     82.03%
non_null_counts:                        1009
null_counts:                             221
data_type:                           float64
mean:                                 0.4949
std:                                  0.2888
min:                                  0.0005
25%:                                  0.2541
50%:                                  0.4931
75%:                                  0.7355
max:                                  0.9972
row_count:                              1230


----------------  WLCNfCHn  ----------------

null_percent:                         17.40%
non_null_percent:                     82.60%
non_null_counts:                        1016
null_counts:                             214
data_type:                           float64
mean:                                 0.5093
std:                                  0.2874
min:                                  0.0008
25%:                                  0.2761
50%:                                  0.5252
75%:                                  0.7627
max:                                  0.9996
row_count:                              1230


----------------  EZotBcml  ----------------

null_percent:                         18.94%
non_null_percent:                     81.06%
non_null_counts:                         997
null_counts:                             233
data_type:                           float64
mean:                                 0.4989
std:                                  0.2929
min:                                  0.0018
25%:                                  0.2405
50%:                                  0.5016
75%:                                  0.7607
max:                                  0.9994
row_count:                              1230

### Export results as .json and .csv

#### Set export pathway

In [25]:
exportpath = "/users/danielcorcoran/desktop/github_repos/python_nb_data_profiling/"

#### Export as json

In [26]:
with open(exportpath + "profile.json", "w") as fileobj:
    json.dump(profile_dict, fileobj)
    
fileobj.close()

#### Export as csv

In [27]:
merged.to_csv(exportpath + "profile.csv", index = False)